<div class="input-wrapper {{ class }} {% if auto_hide_label == true %}input-wrapper--auto-hide-label{% endif %}" data-controller="input{% unless autosuggest == null %} autosuggest{% endunless %}">
  <label for="{{ name }}" data-input-target="label" class="input-wrapper__label">{{ label }}</label>
  <input class="input-wrapper__input" 
    name="{{ name }}" 
    type="{{ type }}" 
    {% if pattern %}
    pattern="{{ pattern }}"
    {% endif %}
    {% if min %}
    min="{{ min }}"
    {% endif %}
    {% if max %}
    max="{{ max }}"
    {% endif %}
    autocomplete="off"
    placeholder="{{ placeholder }}"
    data-input-target="input"
    {{ stimulus_target }}
    data-action="change->input#keyup keyup->input#keyup keypress->input#keypress {{ stimulus_action }}{% unless autosuggest == null %} keyup->autosuggest#keyup{% endunless %}"
    {% unless autosuggest == null %}
    data-autosuggest="{{ autosuggest }}"
    data-autosuggest-target="input"
    {% endunless %}
    {% if readonly %}
    readonly
    {% endif %}
    {% if required %}
    required
    {% endif %}
  />
  {% if hint %}<p class="input-wrapper__hint small">{{ hint }}</p>{% endif %}
  {% unless autosuggest == null %}
  <div class="autosuggest" data-autosuggest-target="autosuggest"></div>
  {% endunless %}
</div>