<div class="cookie-consent" data-controller="cookie-consent">
  <div class="cookie-consent__wrapper">
      <div class="cookie-consent__blurb styled-links">
        {{ lang[locale].cookie_consent | markdownify }}
      </div>
      <div class="cookie-consent__actions">
        <a href="/{{ locale }}/profile/settings#privacy" class="button button--transparent button--small">
          {{ lang[locale].cookie_more_options }}
        </a>
        <button class="button button--secondary button--small" data-action="cookie-consent#declineAll">
          {{ lang[locale].cookie_decline_all }}
        </button>
        <button class="button button--primary button--small" data-action="cookie-consent#acceptAll">
          {{ lang[locale].cookie_accept_all }}
        </button>
      </div>
  </div>
</div>
