<div class="textarea-wrapper {{ class }}" data-controller="textarea">
  <label for="{{ name }}" data-textarea-target="label" class="textarea-wrapper__label">{{ label }}</label>
  <textarea class="textarea-wrapper__textarea" 
    name="{{ name }}" 
    rows="{{ rows | default: 5 }}"
    placeholder="{{ placeholder }}"
    data-textarea-target="textarea"
    {{ stimulus_target }}
    data-action="keypress->textarea#keypress"  
    {% if dir %}
    dir="{{ dir }}"
    {% endif %}
  ></textarea>
  {% if hint %}<div class="textarea-wrapper__hint small">{{ hint | markdownify }}</div>{% endif %}
</div>