<div class="hidden-wrapper {{ class }}" data-controller="input{% unless autosuggest == null %} autosuggest{% endunless %}">
  <label for="{{ name }}" data-hidden-target="label" class="hidden-wrapper__label">{{ label }}</label>
  <input class="hidden-wrapper__input" 
    name="{{ name }}" 
    type="{{ type }}" 
    autocomplete="off"
    placeholder="{{ label }}"
    data-hidden-target="hidden"
    {{ stimulus_target }}
    x-data-action="keyup->hidden#keyup keypress->hidden#keypress {{ stimulus_action }}"
    readonly
  />
</div>