<!DOCTYPE html>
<html
  lang="{{ locale }}"
>
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="description" content="{{ lang[locale].page_head_description }}"/>
    <meta content="Dokuforte" name="apple-mobile-web-app-title"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="mobile-web-app-capable"/>
    <meta content="default" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="!" name="fragment"/>

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png"/>
    <link rel="mask-icon" href="/images/icons/dokuforte-logo.svg" color="#1C9FED"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta content="#1C9FED" name="theme-color"/>

    <meta property="twitter:image:src" content="/images/social/dokuforte-twitter-1.jpg"/>
    <meta content="@Dokuforte" property="twitter:site"/>
    <meta content="summary_large_image" property="twitter:card"/>
    <meta property="twitter:title" content="{{ title | default: lang[locale].page_head_title }}"/>
    <meta property="twitter:description" content="{{ lang[locale].page_head_description }}"/>

    <meta property="og:image" content="/images/social/dokuforte-facebook-1.jpg"/>
    <meta content="Dokuforte" property="og:site_name"/>
    <meta content="object" property="og:type"/>
    <meta property="og:title" content="{{ title | default: lang[locale].page_head_title }}"/>
    <meta property="og:description" content="{{ lang[locale].page_head_description }}"/>

    <title>{{ title | default: lang[locale].page_head_title }}</title>

    <link href="https://use.typekit.net/shi7abw.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/{{ manifest-css["styles.css"] }}" type="text/css">
    {% for style in styles %}<link rel="stylesheet" href="/css/{{ manifest-css[style] }}" type="text/css">{% endfor %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=URLSearchParams%2CObject.fromEntries"></script>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" data-lang="{{ locale }}" class="theme--light {{ page_class }}" data-controller="theme">
    <main>
      {{ content }}
    </main>
    {% include 'dialog/search/search.liquid' %}
    {% include 'cookie-consent/cookie-consent.liquid' %}
    {% include 'loader/loader.liquid' id:"loaderBase" %}
    {% include 'snackbar/snackbar.liquid' %}

    <script>

      {% for param in cmsConfig %}
        window.{{param[0]}} = "{{param[1]}}";
      {% endfor %}
    </script>
    <script src="/{{ manifest-js['main.js'] }}"></script>

    <script>
      // Create BP element on the window
      window["bp"] = window["bp"] || function () {
          (window["bp"].q = window["bp"].q || []).push(arguments);
      };
      window["bp"].l = 1 * new Date();

      // Insert a script tag on the top of the head to load bp.js
      scriptElement = document.createElement("script");
      firstScript = document.getElementsByTagName("script")[0];
      scriptElement.async = true;
      scriptElement.src = 'https://pixel.barion.com/bp.js';
      firstScript.parentNode.insertBefore(scriptElement, firstScript);
      window['barion_pixel_id'] = 'BP-crymXHTKfS-B3';            

      // Send init event
      bp('init', 'addBarionPixelId', window['barion_pixel_id']);
    </script>

    <noscript>
      <img height="1" width="1" style="display:none" alt="Barion Pixel" src="https://pixel.barion.com/a.gif?ba_pixel_id='BP-0000000000-00'&ev=contentView&noscript=1">
    </noscript>
  </body>
</html>
