---
layout: base/base.liquid
hide_search: true
---
{% include header-nav/header-nav.liquid class:'header-nav--transparent header-nav--minimal' %}

<div class="profile" data-controller="profile">
  <nav class="profile-nav">
    <div class="profile-nav__wrapper">
      <a href="/{{locale}}/profile/edit" class="profile-nav__item {% if permalink contains "edit" %}is-selected{% endif %}" data-action="profile#onNavItemClick">{{ lang[locale].account }}</a>
      <a href="/{{locale}}/profile/upload?id=new" class="profile-nav__item {% if permalink contains "upload?id=new" %}is-selected{% endif %}" data-action="profile#onNavItemClick">{{ lang[locale].upload }}</a>
      <a href="/{{locale}}/profile/settings" class="profile-nav__item {% if permalink contains "settings" %}is-selected{% endif %}" data-action="profile#onNavItemClick">{{ lang[locale].settings }}</a>
      <div class="profile-nav__caption caption">{{ lang[locale].browse }}</div>
      <a href="/{{locale}}/photos/" class="profile-nav__item">{{ lang[locale].photos }}</a>
      <a href="/{{locale}}/donators/" class="profile-nav__item">{{ lang[locale].donators }}</a>
    </div>
  </nav>

  <div class="profile-content scrollview" data-controller="scrollview" data-action="scroll->scrollview#handleScroll">
    <div class="profile-content__wrapper {{ profile_wrapper_class }}">
      {{ content }}
    </div>
  </div>

  {% include dialog/delete-account/delete-account.liquid %}
</div>