<div class="file-selector" data-controller="profile-upload--file-selector" {{ stimulus_target }}>
  <div class="file-selector__input-wrapper">
    <div class="button-circular button-circular--accent" data-action="click->profile-upload--file-selector#chooseFiles">
      {% inlineSVG src:"src/static/images/icons/24/icon-add.svg" class:"button-circular__icon" %}
      <div class="button-circular__label">{{ lang[locale].upload_choose }}</div>
    </div>
    <input 
      class="file-selector__input"
      data-profile-upload--file-selector-target="fileSelector"
      type="file"
      multiple
      accept="image/png, image/jpeg, image/tiff"
      data-action="change->profile-upload--file-selector#startUpload"
    />
    <div class="file-selector__label">
      <div class="h5">{{ lang[locale].upload_select_files }}</div>
      <div class="small color-grey">{{ lang[locale].upload_enabled_file_types }}</div>
    </div>
  </div>

  <div class="file-selector__selected-files" data-profile-upload--file-selector-target="fileSelectorPreview"></div>
</div>

<template id="file-selector-item">
  <div class="file-selector-item" data-profile-upload--file-selector-target="file">
    <div class="file-selector-item__wrapper">
      <div class="file-selector-item__preview"></div>
      <div class="file-selector-item__label-wrapper small">
        <spam class="file-selector-item__label small"></spam><span class="file-selector-item__percentage"></span>
      </div>
      <div class="button-circular button-circular--small file-selector-item__remove" data-action="click->profile-upload--file-selector#removeFileElement">
        {% inlineSVG src:"src/static/images/icons/16/icon-close.svg" class:"button-circular__icon" %}
        <div class="button-circular__label">{{ lang[locale].delete }}</div>
      </div>
    </div>
    <div class="file-selector-item__progress"></div>
  </div>
</template>