---
layout: auth/auth.liquid
---

<div class="signup-wrapper scrollview" data-controller="scrollview" data-action="scroll->scrollview#handleScroll">
  <div class="signup" data-controller="signup">
    <h1 class="signup__title" data-controller="page-title">{{ lang[locale].signup }}</h1>
    <p class="lead">{{ lang[locale].signup_blurb }}</p>
    <div class="signup__links">
      <a href="/{{ locale }}/signin" class="link-with-arrow link-with-arrow--small">{{ lang[locale].signin_long }}</a>
    </div>

    <form class="signup__form" data-signup-target="form">
      {% include 'input/input.liquid'
                  type:"text"
                  name:"first_name"
                  placeholder: lang[locale].first_name_placeholder
                  required: true
                  label: lang[locale].first_name
                  stimulus_target:'data-signup-target="firstName"'
      %}
      {% include 'input/input.liquid' 
                  type:"text"
                  name:"last_name"
                  placeholder: lang[locale].last_name_placeholder
                  required: true
                  label: lang[locale].last_name
                  stimulus_target:'data-signup-target="lastName"'
      %}
      {% include 'input/input.liquid'
                  type:"email"
                  name:"email"
                  placeholder: lang[locale].email_placeholder
                  required: true
                  label: lang[locale].email 
                  stimulus_target:'data-signup-target="email"'
      %}
      {% include 'input/input.liquid'
        type:"tel"
        name:"phone"
        required: true
        placeholder: lang[locale].phone_number_placeholder
        hint: lang[locale].phone_number_hint
        label: lang[locale].phone_number
        stimulus_target:'data-signup-target="phone"'
      %} 
      {% include 'input/input.liquid' 
        type:"password"
        name:"password"
        required: true
        placeholder: lang[locale].password_placeholder
        label: lang[locale].password
        stimulus_target:'data-signup-target="password"'
      %}
      <div class="signup__checkboxes">
        <div class="checkbox-wrapper">
          <input class="checkbox-wrapper__checkbox" type="checkbox" name="age" id="signup-confirm-age" data-signup-target="checkboxAge" data-action="change->signup#enable">
          <label for="signup-confirm-age" class="checkbox-wrapper__label">{{ lang[locale].signup_confirm_age }}</label>
        </div>
        <div class="checkbox-wrapper">
          <input class="checkbox-wrapper__checkbox" type="checkbox" name="read" id="signup-confirm-read" data-signup-target="checkboxRead" data-action="change->signup#enable">
          <label for="signup-confirm-read" class="checkbox-wrapper__label styled-links">{{ lang[locale].signup_read }}</label>
        </div>
        <div class="checkbox-wrapper">
          <input class="checkbox-wrapper__checkbox" type="checkbox" name="newsletter" id="signup-newsletter" data-signup-target="checkboxNewsletter" checked>
          <label for="signup-confirm-newsletter" class="checkbox-wrapper__label styled-links">{{ lang[locale].signup_newsletter }}</label>
        </div>
      </div>
      <button class="button button--primary signup__submit" data-signup-target="submitButton" data-action="signup#submit" disabled>{{ lang[locale].signup }}</button>
    </form>
  </div>
</div>
