---
layout: auth/auth.liquid
---

<div class="signup-wrapper scrollview" data-controller="scrollview" data-action="scroll->scrollview#handleScroll">
  <div class="signup" data-controller="signup">
    <h2 class="signup__title">{{ lang[locale].signup }}</h2>

    <p class="small">{{ lang[locale].signup_blurb }}</p>

    <div class="signup__links">
      <a href="/{{ locale }}/signin" class="link-with-arrow link-with-arrow--small">{{ lang[locale].signin_long }}</a>
    </div>

    <form class="signup__form" data-signup-target="form">
      {% include input/input.liquid 
                  type:"text"
                  name:"first_name"
                  label:lang[locale].first_name
                  stimulus_target:'data-signup-target="firstName"'
      %}
      {% include input/input.liquid 
                  type:"text"
                  name:"last_name"
                  label:lang[locale].last_name
                  stimulus_target:'data-signup-target="lastName"'
      %}
      {% include input/input.liquid 
                  type:"email"
                  name:"email"
                  label:lang[locale].email 
                  stimulus_target:'data-signup-target="email"'
      %}
      {% include input/input.liquid 
                  type:"password"
                  name:"password"
                  label:lang[locale].password
                  stimulus_target:'data-signup-target="password"'
      %}
      <div class="checkbox-wrapper">
        <input class="checkbox-wrapper__checkbox" type="checkbox" name="terms" id="signup-confirm-terms" data-action="change->signup#enable">
        <label for="signup-confirm-terms" class="checkbox-wrapper__label">{{ lang[locale].signup_read }} <a href="/{{ locale }}/terms/" class="link">{{ lang[locale].terms }}</a></label>
      </div>
      <button class="button button--primary signup__submit" data-signup-target="submitButton" data-action="signup#submit" disabled>{{ lang[locale].signup }}</button>
    </form>
  </div>
</div>
